<h1>Welcome To FizzBuzz Round 3!</h1>

<form action="/fizz_results" method="post">
  <div>
    <label for="number_1">Select Number 1:</label>  
      <select name="number_1" id="number_1">
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4>4</option>
        <option value=5>5</option>
      </select>
  </div>

  <div>
    <label for="number_2">Select Number 2:</label>  
      <select name="number_2" id="number_2">
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4>4</option>
        <option value=5>5</option>
      </select>
  </div>  

  <input type="submit" value="Go FizzBuzz!">

</form>

