<h1>The Three Question Personality Test</h1>

<form action="test_results" method="post">
  <label for="question_1">1. You work best:</label>
    <br>
    <input type="radio" name="question_1" id="question_1" value="1">With Deadlines
    <br>
    <input type="radio" name="question_1" id="question_1" value="2">Without Deadlines
    <br>
    <br>
  <label for="question_2">2. You consider yourself more:</label>
    <br>
    <input type="radio" name="question_2" id="question_2" value="1">Rational
    <br>
    <input type="radio" name="question_2" id="question_2" value="2">Compassionate
    <br>
    <br>
  <label for="question_3">3. You are more interested in:</label>
    <br>
    <input type="radio" name="question_3" id="question_3" value="1">Ideas
    <br>
    <input type="radio" name="question_3" id="question_3" value="2">Facts
    <br>
    <br>
    <input type="submit" value="Submit">

</form>