<!DOCTYPE html>
<html>
  <head>
    <title>Code Snippets</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <img src="https://pbs.twimg.com/profile_images/378800000407550507/cc18ca42b18803f6c8c3dbf09b28a60b_400x400.jpeg" />
    <div>Code Snippets</div>
    <a href="/">Home</a> |
    <a href="/my_snippet">My Snippets</a>
    <hr>
    <%= yield %>
  </body>
</html>