<!DOCTYPE html>
<html>
  <head>
    <title>To Do List</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <img id="logo" src="https://pbs.twimg.com/profile_images/378800000407550507/cc18ca42b18803f6c8c3dbf09b28a60b_400x400.jpeg">
    <div class="header">My ToDo</div>
    <hr>
    <%= yield %>
  </body>
</html>