<form action="/resume" method="post">

  <label for="first_name">First Name</label>
  <input type="text" name="first_name" id="first_name" placeholder="Justin">
  <br>
  <label for="last_name">Last Name</label>
  <input type="text" name="last_name" id="last_name" placeholder="Case">
  <br>
  <label for="address">Address</label>
  <input type="text" name="address" id="address" placeholder="123 Fake St">
  <br>
  <label for="url">URL</label>
  <input type="text" name="url" id="url" placeholder="justin">
  <br>
  <label for="image">Image Link</label>
  <input type="text" name="image" id="image" placeholder="http://www.facebook.com/profile_pic.jpg">
  <br>
  <label for="linked_in">Linked In</label>
  <input type="text" name="linked_in" id="linked_in" placeholder="http://www.linkedin.com/justincase">
  <br>
  <label for="education">Education</label>
  <textarea name="education" id="education"></textarea>
  <br>
  <label for="work">Work</label>
  <textarea name="work" id="work"></textarea>
  <br>
  <input type="submit" value="Generate Resume">

</form>