<h3>Please enter your car year:</h3>

<form action="/car_age" method="post">
  <div>
    <label for="car_year">Car Year</label>
      <input type="number" name="car_year" id="car_year">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>

</form>